.Rproj.user
.Rhistory
.RData
.Ruserdata
2023_03_24_Revision1/Analyses/plots/.DS_Store
2023_03_24_Revision1/Analyses/.DS_Store
2023_03_24_Revision1/Analyses/.DS_Store
2023_03_24_Revision1/Analyses/.DS_Store
2023_03_24_Revision1/Analyses/data/morpho/.DS_Store
